<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta UEPlaylist</title>
    <link rel="stylesheet" href="../static/criarconta.css">
    <link rel="icon" href="https://tse3.mm.bing.net/th/id/OIP.-XL1WcP2ui7_CneznV6QIwHaHX?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
</head>
<body>
    <div id="container">
        <h1>CRIAR CONTA:</h1>
        <label>Nome:</label> <input type="text" id="login"> <br>
        <label>Senha:</label> <input type="text" id="senha">
        <br>
        <button id="botao">confirmar</button>
        <div id="possuoConta">
            <h2>ja possuo uma conta</h2>
        </div>
    </div>
    <script src="../static/criarconta.js"></script>
</body>
</html>