<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div id="container">
        <h1>login</h1>
        <label for="login" ></label><input id="login" placeholder="login"> <br>
        <label for="password"></label><input id="password" placeholder="senha"> <br>
        <button id="botao">confirmar</button>
        <h3 id="criarConta">não pussuo conta</h3>
        <h3 id="erro"></h3>
    </div>
    <script src="../static/login.js"></script>
    <script src="../app.py"></script>
</body>
</html>