<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEPlaylist</title>
    <link rel="stylesheet" href="../static/ueplaylist.css">
    </head>
<body>
    <div id="Logout">
         <h1 class="botaoFoda" id="desconectar">Desconectar</h1>
         <h1 class="botaoFoda"> botao 2</h1>
         <h1 class="botaoFoda"> botao 3</h1>
    </div>
    
    <div class="bigthree" id="esquerda">
        <div id="animacao">
            <i class="fa-solid fa-compact-disc fa-5x"></i> 
        </div>
        <h1 class="linha" style="margin-top: 45px;">UEPlaylist</h1> <hr> 
        <div>            
            
            <h1 class="linha">▶ Playlists</h1>
            <div id="playlists">
                <h2 class="playlist" id="playlist1">playlist 1</h2>
                <h2 class="playlist" id="playlist2">playlist 2</h2>
                <h2 class="playlist" id="playlist3">playlist 3</h2> 
            </div>
        </div>
        <hr> 
        <div>
            <h1 class="linha">▶ Biblioteca</h1>
            <div id="historico">
                <h2 class="historico musicasFuncionais" id="musica-1">certas coisas</h2> <!--o texto do historico É O PATH da musica  -->
                <h2 class="historico musicasFuncionais" id="musica-2">musica -2</h2>
                <h2 class="historico musicasFuncionais" id="musica-3">musica -3</h2>
            </div>
        </div>
    </div>
    <div class="bigthree" id="centro">
        <div id="popup">
            <h1>Em qual playlist deseja adicionar?</h1>
            <div id="playlistPopup1" class="popup">
                <h1>playlist 1</h1>
            </div>
            <div id="playlistPopup2" class="popup">
                <h1>playlist 2</h1>
            </div>
            <div id="playlistPopup3" class="popup">
                <h1>playlist 3</h1>
            </div>
        </div>
        <input id='pesquisa' type="search" placeholder="barra de pesquisa">
        <div id="sugestoes"></div>
        <div id="containermusica">
            <div id="containerimagem">
                <img id="imagem" src="https://tse4.mm.bing.net/th/id/OIP.-IaYzMb9p2oeuuAnndSaygHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
            </div>
            <h1 id="nomedamusica">nome da musica </h1>
            <div id="comandos">
                <div>
                    <audio id="musica" preload="none"></audio>    
                    <input id="barra" type="range" value="0" max="0" style=" min-width: 90%;">
                    <h6 id="tempoAtual">0:00</h6>
                    <h6 style="display: inline-box;">/</h6>
                    <h6 id="tempoTotal">0:00</h6>
                </div>
                <div>
                    <div></div>
                    <div class="comandos" id="curtida"><i id="coracao" class="fa-regular fa-heart fa-3x"></i></div>
                    <div class="comandos" id="setaEsquerda"><i class="fa-solid fa-caret-left fa-3x"></i></div>
                    <div class="comandos" id="pause"><i id="botaoPause" class="fa-solid fa-pause fa-3x"></i></div>
                    <div class="comandos" id="setaDireita"><i class="fa-solid fa-caret-right fa-3x"></i></div>
                    <div class="comandos" id="playlist"><i id="addplaylist" class="fa-regular fa-square-plus fa-3x"></i></div>
                </div>
            </div>
        </div>
        <div id="letra">
            <div id="textoPassado">...</div>
            <div id="textoPresente">...</div>
            <div id="textoFuturo">...</div>
        </div>
        <div id="recomendacao">
            <div id="playlistAtual"></div>

            <hr>

            <div id="recomendacao1" class="recomendacao">
                <div id="containerimagem">
                    <img class="imagem" src="https://tse4.mm.bing.net/th/id/OIP.-IaYzMb9p2oeuuAnndSaygHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
                </div>
                <h1 id="titulo1" class="titulo">musica recomendada 1</h1>
                <h3 id="artista1">artista da musica</h3>
            </div>
            <div id="recomendacao2" class="recomendacao">
                <div id="containerimagem">
                    <img class="imagem" src="https://tse4.mm.bing.net/th/id/OIP.-IaYzMb9p2oeuuAnndSaygHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
                </div>
                <h1 id="titulo2" class="titulo">musica recomendada com um nome comicamente grande</h1>
                <h3 id="artista2">artista da musica</h3>
            </div>
            <div id="recomendacao3" class="recomendacao">
                <div id="containerimagem">
                    <img class="imagem" src="https://tse4.mm.bing.net/th/id/OIP.-IaYzMb9p2oeuuAnndSaygHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
                </div>
                <h1 id="titulo3" class="titulo">musica recomendada 3</h1>
                <h3 id="artista3">artista da musica</h3>
            </div>
            <div id="recomendacao4" class="recomendacao">
                <div id="containerimagem">
                    <img class="imagem" src="https://tse4.mm.bing.net/th/id/OIP.-IaYzMb9p2oeuuAnndSaygHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3">
                </div>
                <h1 id="titulo4" class="titulo">musica recomendada 4</h1>
                <h3 id="artista4">artista da musica</h3>
            </div>
        </div>
    </div>
    <div class="bigthree" id="direita">
        <div id="notificacao">
            <h1>Notificações</h1>    
            <h1 id="not1" class="notificacao"></h1>
            <h6 id="quantNotificacoes"></h6>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/2c8299055a.js" crossorigin="anonymous"></script>
    <script src="../static/ueplaylist.js"></script>
</body>
</html>